@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:wght@100&display=swap');
/* texto en negrita para formulario */
form{

    font-weight: bold;
}
/* cargado de tipografias para cabeceras y textos */
h1, h2, h3, h4{

    font-family: 'Oswald', sans-serif;

}

 h1, h2{

    color: orange;
    font-weight: bolder;
}


.mayusculas{

    text-transform: uppercase;


}

.enlacescolor{

    color: orange;

}



/* tipografia para los parrafos */
p{

    font-family: 'Roboto', sans-serif;
    
}

.imagen{

    width: 100%;

}


.enlaces{

    margin: .5rem;
    text-transform: uppercase;
    gap: .5rem;

}

section{

    margin-top: 1rem;

}

.ajustar{
    width: 30%;    
}



@media (min-width: 768px) {

    .contenido{

        display: flex;
        justify-content: center;
        
    }
    
    
}